@page "/product"

<h3>Product</h3>

<div class="container">
    <div class=" row">
        @for (int i = 0; i < 6; i++)
    {
        
            
            <div class="col">
            <Card title="sepeda" description="Sepeda Listrik"
                  src="https://tailwindui.com/img/ecommerce-images/product-page-01-related-product-01.jpg"
                  alt="basing"/>
            
        </div>
    }

</div>
</div>

@code {

}
