<section>
  <select name="" id="" class="form-control" @onchange="UseSort">
      <option value="-1" hidden>Type</option>
      <option value="SOFTDRINK">SOFT DRINK</option>
      <option value="SNACK">SNACK</option>
      <option value="FOOD">FOOD</option>
      <option value="FACILITY">FACILITY</option>
      <option value="SERVICE">SERVICE</option>
  </select>
</section>
