@using BlazorWepApp.Shared.Plain
@inherits LayoutComponentBase

<Sidebar/>

<main class="main-wrapper">

    <Header/>

    <section class="section">
        <div class="container-fluid">
            @Body
        </div>

    </section>

    <Footer/>

</main>